table
  width: 100%
  height: 100%

.mat-form-field
  font-size: 14px
  width: 100%

th.mat-header-cell, td.mat-cell, td.mat-footer-cell
  padding: 0 5px

.mat-header-cell
  font-size: 14px

.material-icons
  cursor: pointer

td, th
 max-width: 40%
 white-space: pre-wrap

mat-icon
    cursor: default

mat-error
    max-width: 100%
    font-size: 12px

mat-form-field
    width: 100%

.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        min-width: 100px

.mat-dialog-content
    padding: 10px 24px

.bare-text-button
    color: #888888
    border: none
    outline: none
    border-radius: 4px
    text-decoration: underline
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    &:hover
        color: #666666
    &:active
        transform: translateY(2px)