
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
  
      <button mat-raised-button matTooltipPosition="above" matTooltip="Create new user">
        <mat-icon color="accent" (click) = "createUser()">add</mat-icon>
      </button>
  
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      
  
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="first-name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
              <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
            </ng-container>
  
            <ng-container matColumnDef="last-name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
              <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="birthday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
                <td mat-cell *matCellDef="let row"> {{row.birthday | ukrDate}} </td>
              </ng-container>
  
            <ng-container matColumnDef="registered-at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered at </th>
              <td mat-cell *matCellDef="let row"> {{row.registeredAt | ukrDate}} </td>
            </ng-container>
  
            <ng-container matColumnDef="delete-action">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="deleteUser(element.id)">delete</i>
            </ng-container> 
  
            <ng-container matColumnDef="edit-action">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="editUser(element)">edit</i>
            </ng-container> 
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSize]=10 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    
      <mat-toolbar *ngIf="users.length === 0 && !loadingUsers">
          <p class="no-content">There is nothing</p>
      </mat-toolbar>
  