.title
    text-align: center
    font-weight: 500

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 0px 24px 24px
