<h2 mat-dialog class="title">{{title}}</h2>

<div mat-dialog-content>{{message}}</div>

<div class="actions">
  <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">{{positiveButtonText}}</button>
</div>
