
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
  
      <button mat-raised-button matTooltipPosition="above" matTooltip="Create new project">
        <mat-icon color="accent" (click) = "createTask()">add</mat-icon>
      </button>
  
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      
  
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row" [taskStateHighlight] = "row.state" matTooltipPosition="right" [matTooltip]="getState(row.state)"> {{row.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>
  
            <ng-container matColumnDef="created-at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created at </th>
              <td mat-cell *matCellDef="let row"> {{row.createdAt | ukrDate}} </td>
            </ng-container>
  
            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
              <td mat-cell *matCellDef="let row"> {{row.deadline | ukrDate}} </td>
            </ng-container>
  
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let row"> {{row.author? row.author.firstName : '-' }}{{row.author?.secondName}} </td>
            </ng-container>
  
            <ng-container matColumnDef="team">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
              <td mat-cell *matCellDef="let row"> {{row.team? row.team.name : '-'}} </td>
            </ng-container>
  
            <ng-container matColumnDef="delete-action">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="deleteTask(element.id)">delete</i>
            </ng-container> 
  
            <ng-container matColumnDef="edit-action">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="editTask(element)">edit</i>
            </ng-container> 
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSize]=10 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    
      <mat-toolbar *ngIf="tasks.length === 0 && !loadingTasks">
          <p class="no-content">There is nothing</p>
      </mat-toolbar>
  