table
  width: 100%
  height: 100%

.mat-form-field
  font-size: 14px
  width: 100%

th.mat-header-cell, td.mat-cell, td.mat-footer-cell
  padding: 0 5px

.mat-header-cell
  font-size: 14px

.material-icons
  cursor: pointer

td, th
 max-width: 40%
 white-space: pre-wrap
 word-wrap: break-word