$base-color: #f9f9f9

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif

body
    background-color: $base-color
    padding-top: 50px

main
    height: 100%
    width: 100%

button
    outline: none
    cursor: pointer

.container
    width: 100%
    max-width: 90%
    margin: 0 auto

snack-bar-container
    white-space: pre-wrap
    &.error-snack-bar 
        background: #a90707
        text-align: center
    &.usual-snack-bar 
        background: #008750
        text-align: center
    & span
        width: 100%

.mat-spinner-wrapper 
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    z-index: 1002
    background-color: rgba(255, 255, 255, 0.5)
    width: 100%
    height: 100%

.dialog-backdrop
    background: rgba(255, 255, 255, 0.5)