<header>
    <div class="container">
      <a class="logo" href="/" rel="noreferrer" target="_blank">PMTool<img src="../../../../assets/goal-with-arrow.svg" alt="Project Management Tool"></a>
      <nav class="nav">
          <ul class="nav-items">
              <li><a routerLink="projects">Projects</a></li>
              <li><a routerLink="tasks">Tasks</a></li>
              <li><a routerLink="users">Users</a></li>
              <li><a routerLink="teams">Teams</a></li>
          </ul>
      </nav>
    </div>
</header>