@import "../../../../styles"

$header-item-height: 30px

header
    position: fixed
    top: 0
    right: 0
    left: 0
    background-color: white
    padding: 5px
    z-index: 9
    .logo
        display: flex
        align-items: center
        color: black
        font-size: 24px
        text-decoration: none
    .container
        display: flex

.logo 
    img
        height: 30px
        padding: 0 0 0 10px

.nav
    margin-left: 40px
    position: relative
    ul
        list-style: none

.nav-items
    display: flex
    align-items: center
    height: 100%
    li
        padding: 0 15px !important
        border-left: 1px solid grey
        a
            color: black
            text-decoration: none
        &:first-child
            border-left: 0
        &:hover
            a
                color: blue
                text-decoration: underline
                cursor: pointer
            
    