<h2 mat-dialog class="title"> {{ title }}</h2>

<form name="userForm" #userForm="ngForm" class="main-content">
  <div>
    <div *ngIf="userFirstName.invalid && userFirstName.touched">
      <mat-error *ngIf="userFirstName.errors.required">
        User`s first name is required
      </mat-error>
      <mat-error *ngIf="userFirstName.errors.minlength">
        Minimum name length - {{userFirstName.errors.minlength.requiredLength}} characters.<br>
        Actual length - {{userFirstName.errors.minlength.actualLength}} characters
      </mat-error>
      <mat-error *ngIf="userFirstName.errors.pattern">
        User`s first name must contain only characters, digits, and white-spaces
      </mat-error>
    </div>
    <mat-form-field>
      <input name="userFirstName" [(ngModel)]="user.firstName" #userFirstName="ngModel" placeholder="User first name" matInput required
        minlength=3 maxlength=100 [pattern]="usernamePattern">
    </mat-form-field>
  </div>
  
  <div>
    <div *ngIf="userLastName.invalid && userLastName.touched">
      <mat-error *ngIf="userLastName.errors.required">
        User`s last name is required
      </mat-error>
      <mat-error *ngIf="userLastName.errors.minlength">
        Minimum name length - {{userLastName.errors.minlength.requiredLength}} characters.<br>
        Actual length - {{userLastName.errors.minlength.actualLength}} characters
      </mat-error>
      <mat-error *ngIf="userLastName.errors.pattern">
        User`s last name must contain only characters, digits, and white-spaces
      </mat-error>
    </div>
    <mat-form-field>
      <input name="userLastName" [(ngModel)]="user.lastName" #userLastName="ngModel" placeholder="User last name" matInput required
        minlength=3 maxlength=100 [pattern]="usernamePattern">
    </mat-form-field>
  </div>
    
  <div>
    <div *ngIf="inEmail.invalid && inEmail.touched">
      <mat-error *ngIf="inEmail.errors.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="inEmail.errors.email">
        Invalid email
      </mat-error>
    </div>
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="user.email" #inEmail="ngModel" placeholder="Email" matInput required email>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select name="userTeam" #team="ngModel"  [(ngModel)]="user.teamId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let team of teams" [value] = "team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Birthday</mat-label>
      <input  name="userBirthday" #deadline="ngModel" [(ngModel)]="user.birthday" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="actions">
    <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
    <button mat-raised-button color="primary" 
    [disabled]="userForm.invalid"
    (click)="onConfirm()">{{positiveButtonText}}</button>
  </div>
</form>
