<h2 mat-dialog class="title"> {{ title }}</h2>

<form name="projectForm" #projectForm="ngForm" class="main-content">
  <div>
    <mat-label>Name</mat-label>
    <div *ngIf="projectName.invalid">
        <mat-error *ngIf="projectName.errors.required">
          Name required *
        </mat-error>
        <mat-error *ngIf="projectName.errors.pattern">
          Name can't be empty
        </mat-error>
      </div>
      <textarea name="name" [(ngModel)]="project.name" #projectName="ngModel" cdkTextareaAutosize class="edited-text"
        cdkAutosizeMinRows=1 required [maxlength]="nameMaxLength" [pattern]="textPattern">
      </textarea>
  </div>

  <div>
    <mat-label>Description</mat-label>
    <div *ngIf="projectDescription.invalid">
        <mat-error *ngIf="projectDescription.errors.required">
          Description required *
        </mat-error>
        <mat-error *ngIf="projectDescription.errors.pattern">
          Description can't be empty
        </mat-error>
      </div>
      <textarea name="description" [(ngModel)]="project.description" #projectDescription="ngModel" cdkTextareaAutosize class="edited-text"
        cdkAutosizeMinRows=5 required [maxlength]="descriptionMaxLength" [pattern]="textPattern">
      </textarea>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <mat-select name="projectAuthor" #author="ngModel"  [(ngModel)]="project.authorId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let author of authors" [value] = "author.id">
          {{author.firstName}} {{author.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select name="projectTeam" #team="ngModel"  [(ngModel)]="project.teamId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let team of teams" [value] = "team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Deadline</mat-label>
      <input  name="projectDeadline" #deadline="ngModel" [(ngModel)]="project.deadline" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="actions">
    <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
    <button mat-raised-button color="primary" 
    [disabled]="projectForm.invalid"
    (click)="onConfirm()">{{positiveButtonText}}</button>
  </div>
</form>
