<h2 mat-dialog class="title"> {{ title }}</h2>

<form name="teamForm" #projectForm="ngForm" class="main-content">
  <div>
    <mat-label>Name</mat-label>
    <div *ngIf="teamName.invalid">
        <mat-error *ngIf="teamName.errors.required">
          Name required *
        </mat-error>
        <mat-error *ngIf="teamName.errors.pattern">
          Name can't be empty
        </mat-error>
      </div>
      <textarea name="name" [(ngModel)]="team.name" #teamName="ngModel" cdkTextareaAutosize class="edited-text"
        cdkAutosizeMinRows=1 required [maxlength]="nameMaxLength" [pattern]="textPattern">
      </textarea>
  </div>
  
  <div class="actions">
    <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
    <button mat-raised-button color="primary" 
    [disabled]="projectForm.invalid"
    (click)="onConfirm()">{{positiveButtonText}}</button>
  </div>
</form>
