<h2 mat-dialog class="title"> {{ title }}</h2>

<form name="taskForm" #taskForm="ngForm" class="main-content">
  <div>
    <mat-label>Name</mat-label>
    <div *ngIf="taskName.invalid">
        <mat-error *ngIf="taskName.errors.required">
          Name required *
        </mat-error>
        <mat-error *ngIf="taskName.errors.pattern">
          Name can't be empty
        </mat-error>
      </div>
      <textarea name="name" [(ngModel)]="task.name" #taskName="ngModel" cdkTextareaAutosize class="edited-text"
        cdkAutosizeMinRows=1 required [maxlength]="nameMaxLength" [pattern]="textPattern">
      </textarea>
  </div>

  <div>
    <mat-label>Description</mat-label>
    <div *ngIf="taskDescription.invalid">
        <mat-error *ngIf="taskDescription.errors.required">
          Description required *
        </mat-error>
        <mat-error *ngIf="taskDescription.errors.pattern">
          Description can't be empty
        </mat-error>
      </div>
      <textarea name="description" [(ngModel)]="task.description" #taskDescription="ngModel" cdkTextareaAutosize class="edited-text"
        cdkAutosizeMinRows=5 required [maxlength]="descriptionMaxLength" [pattern]="textPattern">
      </textarea>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Performer</mat-label>
      <mat-select name="taskPerformer" #author="ngModel"  [(ngModel)]="task.performerId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let performer of performers" [value] = "performer.id">
          {{performer.firstName}} {{performer.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Project</mat-label>
      <mat-select name="taskProject" #team="ngModel"  [(ngModel)]="task.projectId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let project of projects" [value] = "project.id">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Task state</mat-label>
      <mat-select name="taskState" #team="ngModel"  [(ngModel)]="task.state">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let state of keys(states).slice(keys(states).length/2)" [value] = "states[state]">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="actions">
    <button mat-raised-button (click)="close()">{{negativeButtonText}}</button>
    <button mat-raised-button color="primary" 
    [disabled]="taskForm.invalid"
    (click)="onConfirm()">{{positiveButtonText}}</button>
  </div>
</form>
